=content_for :cover do
  cover

.row.login
  .small-4.columns.small-offset-8
    %p.main-caption
      Report
      %br
      Pet
      %br
      Menace!
    %p.main-button
      =link_to "Get Started", new_menace_path
