// Place all the styles related to the menaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thanks {
  color: #008cba
}

.alert-box {
  margin-top: 5px;
}

.well {
  display: block;
  padding: 0.5em;
  background: #fafafa;
  color: #333333;
  margin-bottom: 15px;
}
