// Place all the styles related to the menaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thanks {
  color: #008cba
}

.alert-box {
  margin-top: 5px;
}

.well {
  display: block;
  padding: 0.5em;
  background: #fafafa;
  color: #333333;
  margin-bottom: 15px;
}

.visuallyhidden {
    display: none;
}

.wizard-progress {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  float: left;
  white-space: nowrap;
  line-height: normal;
}


.wizard-progress:before, .wizard-progress:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.wizard-progress li {
    float: left;
    margin-right: 50px;
    text-align: center;
    position: relative;
    width: 100px;
}

.wizard-progress .step-name {
    display: table-cell;
    height: 32px;
    vertical-align: bottom;
    text-align: center;
    width: 100px;
}

.wizard-progress .step-name-wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: bottom;
}

.wizard-progress .step-num {
    font-size: 14px;
    font-weight: bold;
    border: 3px solid #000;
    border-radius: 50%;
    width: 18px;
    display: inline-block;
    margin-top: 10px;
}

.wizard-progress .step-num:after {
    content: "";
    display: block;
    background: #000;
    height: 5px;
    width: 130px;
    position: absolute;
    bottom: 10px;
    left: 60px;
}

.wizard-progress li:last-of-type .step-num:after {
    display: none;
}

.wizard-progress .active-step .step-num {
    background-color: green;
}

.wizard-progress .active-step.rejected .step-num {
    background-color: red;
}
